<template>
  <div class="newUser">
    <div class="login-header">
        <img src="../../assets/logo.png" alt="">
        <el-button @click="onToSingUp" size="small" class="btn-defalt" style="float:right;margin-top:5px;">SIGN UP</el-button>
        <el-button @click="onLogin" size="small" class="btn-defalt" style="float:right;margin-top:5px;margin-right:20px;">LOG IN</el-button>
    </div>
    <div class="newUser-container">
        <h1>RESET PASSWORD</h1>
        <el-form ref="form" :rules="rules" :model="form">
            <el-form-item prop="phone">
                <el-input v-model.number="form.phone" placeholder="Mobilephone Number" @blur="checkPhone"></el-input>
            </el-form-item>
            <el-form-item :style="{display: isdisplay}" prop="icode">
              <el-row :gutter="10">
                <el-col :span="12">
                  <el-input v-model="form.icode" placeholder="Code" @blur="checkImagecode"></el-input>
                </el-col>
                <el-col :span="12">
                  <img :src="imgURL" alt="" @click="getCodeImg"  class="codeMsg" >
                </el-col>
              </el-row>
            </el-form-item>
            <el-form-item prop="code">
                <el-row :gutter="10">
                    <el-col :span="18">
                        <el-input v-model="form.code" placeholder="Identifying Code"></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-button type="primary" :disabled="isDisabled" style="width:100%;" @click="onSendCode">{{htnText}}</el-button>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item prop="password">
                <el-input type="password" v-model="form.password" placeholder="new Password" @keyup.enter.native="onSubmit('form')"></el-input>
            </el-form-item>
            <div class="newUser-submit">
                <el-button type="primary" style="width:100%;" @click="onSubmit('form')">SUBMIT</el-button>
            </div>
            <div class="newUser-login">
                <el-button type="text" style="width: 100%;" @click="onLogin">LOGIN</el-button>
            </div>
        </el-form>
    </div>
    <div class="logoin-footer"> <span></span> &copy 2017 STAR.STORE <span></span> </div>
  </div>
</template>

<script>
    import sha1 from 'sha1';
    import store from 'store2';
    import axios from "axios";
    import url from '../../config.js';
    import {
        addNewUser,
        getPhoneUnic,
        getPhoneCode,
        getFindPassword,
        baseul
    } from '../../apiRequest';
    export default {
        name: 'newUser',
        data() {
            return {
                msg: '',
                htnText: 'SEND',
                isdisplay: 'block',
                isDisabled: true,
                imgURL: '',
                sign:0,
                sessionid: '',
                form: {
                    phone: '',
                    icode: '',
                    code: '',
                    password: ''
                },
                num: 60,
                rules: {
                    phone: [{
                        required: true,
                        message: 'Type in your mobilephone number'
                    }, {
                        type: 'number',
                        message: 'Only type in number'
                    }],
                    icode: [{
                      required: true,
                      message: 'Enter the verification code'
                    }],
                    code: [{
                        required: true,
                        message: 'Type in message code',
                        trigger: 'blur'
                    }],
                    password: [{
                        required: true,
                        message: 'Type in password',
                        trigger: 'blur'
                    }, {
                        min: 6,
                        max: 20,
                        message: 'The password should be 6-20 figures',
                        trigger: 'blur'
                    }]
                }
            }
        },
        created() {
          window.scrollTo(0,0);
          this.refresh();
        },
        methods: {
            checkTime() {
                setTimeout(() => {
                    this.num = this.num - 1;
                    this.htnText = this.num + '(s)';
                    if (this.num <= 0) {
                        this.isDisabled = false;
                        this.num = 60;
                        this.htnText = 'SEND';
                    } else {
                        this.checkTime();
                    }
                }, 1000);

            },
            refresh() {
              axios.get(url.baseCodeURL + '/api/sessionid').then((data) => {
                this.imgURL = url.baseURL + '/services/captcha?sessionid=' + data.data.sessionid;
                this.sessionid = data.data.sessionid;
              });
            },
            //获取图片验证码
            getCodeImg() {
              this.refresh();
            },
            //验证step1:手机验证
            checkPhone() {
                if (this.form.phone) {
                    var reg = /^1[3|4|5|7|8][0-9]{9}$/;
                    var flag = reg.test(this.form.phone);
                    if(flag){
                        getPhoneUnic(this.form.phone).then((data) => {
                            if(data.data.code === 0 ){
                                if(data.data.msg === 'exist'){
                                    this.sign=1;
                                }else{
                                    this.$notify.error({
                                        message: "The account doesn't exist"
                                    });
                                    this.form.phone = '';
                                    this.isDisabled = true;
                                }
                            }
                        });
                    }else{
                        this.isDisabled = true;
                        this.$notify.error({
                            message: "Please enter the correct number"
                        });
                    }

                }
            },
            //验证Step2:图片验证
            checkImagecode(){
              if(this.form.icode){
                this.sign+=1;
                if(this.sign==2){
                  this.isDisabled = false;
                }
              }
            },
            // TODO : 容易出现bug
            //验证Step3:短信验证
            onSendCode() {
              if (this.form.phone) {
                var reg = /^1[3|4|5|7|8][0-9]{9}$/;
                var flag = reg.test(this.form.phone);
                if(flag){
                  this.isDisabled = true;
                  getPhoneCode({
                    phone: this.form.phone,
                    imgcode:this.form.icode,
                    sessionid:this.sessionid
                  }).then((data) => {
                    if(data.data.code===2){
                      this.isDisabled = false;
                      this.$notify.warning({
                        message: data.data.msg
                      });
                    }
                    else {
                      this.isDisabled = true;
                      this.htnText = this.num + '(s)';
                      this.checkTime();
                    }
                  }).catch((res) => {
                    this.$notify.error({
                      message: res.toString()
                    });
                  });
                }else{
                  this.isDisabled = true;
                }
              } else {
                this.$notify.error({
                  message: 'Please fill in your phone number'
                });
              };
            },
            //提交
            onSubmit(form) {
              this.$refs[form].validate((valid) => {
                if (valid) {
                  getFindPassword({
                    phone: this.form.phone,
                    verifyingcode: this.form.code,
                    pwd: sha1(this.form.password)
                  }).then((data) => {
                    if (data.data.code === 0) {
                      this.$notify({
                        message: 'Reset Success!',
                        type: 'success'
                      });
                      this.$router.push('/login');
                    } else if(data.data.code === 3){
                      this.$notify.error({
                        message: 'Wrong SMS code!'
                      });
                    }
                  }).catch((res) => {
                    this.$notify.error({
                      message: res.toString()
                    });
                  })
                } else {
                  return false;
                }
              });
            },
            onLogin() {
                this.$router.push('/login');
            },
            onToSingUp() {
                this.$router.push('/newUser');
            },
            onGoBack() {
                this.$router.push('/home');
            },
        }

    }
</script>

<style scoped>
    .newUser {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fff;
        background-size: cover;
    }

    .login-header {
        height: 60px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        padding: 10px 20px;
    }

    .login-header>img {
        height: 100%;
    }
    .codeMsg {
      height: 36px;
      vertical-align: middle;
      width: 100%;
      background-color: #ccc;
      border: 0;
      cursor: pointer;
    }
    .newUser-container {
        box-sizing: border-box;
        width: 422px;
        background: #fff;
        border-radius: 1px;
        position: fixed;
        left: 50%;
        top: 20%;
        margin-left: -211px;
        padding: 20px 40px;
    }

    .newUser-container h1 {
        text-align: center;
        margin: 0;
        font-size: 20px;
        color: #333;
        margin-bottom: 30px;
    }

    .newUser-container p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #666;
        margin-bottom: 30px;
        line-height: 14px;
    }

    .newUser-submit {
        text-align: center;
    }

    .newUser-container .newUser-login {
        margin-top: 10px;
        text-align: center;
    }

    .logoin-footer {
        text-align: center;
        position: absolute;
        bottom: 20px;
        width: 100%;
        color: #80807d;
    }

    .logoin-footer>span {
        border-top: 1px solid #ccc;
        display: inline-block;
        width: 150px;
        vertical-align: middle;
    }

    .btn-defalt {
        color: #c1272d;
        border: 1px solid #c1272d;
    }

    .btn-defalt:hover {
        color: #fff;
        background-color: #c1272d;
        border: 1px solid #c1272d;
    }
</style>
