<template>
  <div class="login">
    <div class="login-header">
        <img src="../../assets/logo.png" alt="">
        <el-button @click="onToSingUp" size="small" class="btn-defalt" style="float:right;margin-top:5px;">SIGN UP</el-button>
        <el-button @click="onLogin" size="small" class="btn-defalt" style="float:right;margin-top:5px; margin-right:20px;">LOG IN</el-button>
    </div>
    <div class="login-container">
        <h1>LOGIN</h1>
        <el-form :model="form" :rules="rules" ref="form">
            <el-form-item prop="name">
                <el-input class="login-input" v-model.number="form.name" placeholder="Mobilephone Number" ></el-input>
            </el-form-item>
            <el-form-item :style="{display: isdisplay}" prop="code">
          <el-row :gutter="10">
            <el-col :span="12">
              <el-input v-model="form.code" placeholder="Code"></el-input>
            </el-col>
            <el-col :span="12">
              <img :src="imgURL" alt="" @click="getCodeImg"  class="codeMsg" >
            </el-col>
          </el-row>
        </el-form-item>
            <el-form-item :style="{display: isdisplay}" prop="pass">
                <el-input class="login-input" type="password" v-model="form.pass" placeholder="Password" @keydown="onLoagIn" @keyup.enter.native="onSubmit('form')"></el-input>
            </el-form-item>
            <!--<el-form-item :style="{display: isCodeShow}">
                <el-row :gutter="10">
                    <el-col :span="18">
                        <el-input v-model="form.pass" placeholder="Verifition Code"></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-button style="backgroundColor:#3c3c3e;border:0;color:#fff;width:100%;" @click="onSendCode">SEND</el-button>
                    </el-col>
                </el-row>
            </el-form-item>-->
            <div class="login-form-forgot">
                <el-row :gutter="0">
                    <!--<el-col :span="15">
                        <a href="#" class="code-entry" style="color:#0188FA" @click="changeLogin">{{codeText}}</a>
                    </el-col>-->
                    <el-col :span="10" :offset="14" style="textAlign:right;">
                        <router-link class="forget-passWord" :style="{display: isdisplay, color: '#c1272d'}"to="/forgetPassWord">Forgot password?</router-link>
                    </el-col>
                </el-row>
            </div>
            <el-form-item>
                <el-button type="primary" @click="onSubmit('form')" style="width:100%;">SUBMIT</el-button>
            </el-form-item>
            <div>
                <!--<el-button @click="" style="width: 100%">I AM INFLUENCER</el-button>-->
            </div>
            <div style="marginTop:10px">
                <el-button @click="onToSingUp" type="text" style="width:100%;">SIGN UP</el-button>
            </div>
        </el-form>
    </div>
    <div class="logoin-footer"> <span></span> &copy 2017 STAR.STORE <span></span> </div>
  </div>
</template>

<script>
    import sha1 from 'sha1';
    import {
        loginRequest,
        getPhonecaptcha,
        baseul
    } from '../../apiRequest';
    import url from '../../config.js';
    import store from 'store2';
    import axios from "axios";
    import qs from 'qs';
    export default {
        name: 'login',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                isdisplay: 'block',
                isCodeShow: 'none',
                codeText: 'Authentication code entry',
                imgURL: '',
                sessionid: '',
                form: {
                    name: '',
                    pass: '',
                    code: ''
                },
                rules: {
                    name: [{
                        required: true,
                        message: 'Type in mobilephone number'
                    }, {
                        type: 'number',
                        message: 'Only type in number'
                    }],
                    code: [{
                        required: true,
                        message: 'Enter the verification code'
                    }],
                    pass: [{
                        required: true,
                        message: 'Type in passWord',
                        trigger: 'blur'
                    }]
                }
            }
        },
        created() {
            window.scrollTo(0,0);
            this.refresh();
        },
        methods: {
            onLoagIn() {

            },
            refresh() {
                axios.get(url.baseCodeURL + '/api/sessionid').then((data) => {
                    this.imgURL = url.baseURL + '/services/captcha?sessionid=' + data.data.sessionid;
                    this.sessionid = data.data.sessionid;
                });
            },
            changeLogin() {
                this.isdisplay = this.isdisplay === 'block' ? 'none' : 'block';
                this.isCodeShow = this.isCodeShow === 'block' ? 'none' : 'block';
                this.codeText = this.codeText === 'Authentication code entry' ? 'PassWord entry' : 'Authentication code entry';
            },
            onSendCode() {

            },
            getCodeImg() {
                this.refresh();
            },
            onGoBack() {
                this.$router.push('/home');
            },
            onLogin() {
                this.$router.push('/login');
            },
            onToSingUp() {
                this.$router.push('/newUser');
            },
            onSubmit(formName) {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        loginRequest({
                            phone: this.form.name,
                            password: sha1(this.form.pass),
                            code: this.form.code.toLowerCase(),
                            sessionid: this.sessionid
                        }).then((data) => {
                            if (data.data.code === 0) {
                                store('userName', this.form.name);
                                store('userMsg', data.data.msg.user);
                                store('userId', data.data.msg.user.brand_user_id);
                                sessionStorage.setItem("dataToken", data.data.msg.token);
                                this.$router.push('/page/campaings');
                            } else if (data.data.code === 3) {
                                this.$notify.error({
                                    message: 'Number/Password error!'
                                });
                            } else if (data.data.code === 4) {
                                this.form.code = '';
                                this.$refs['form'].validate((valid) => {
                                    if (valid) {

                                    } else {
                                        return false;
                                    }
                                });
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                message: res.toString()
                            });
                        })
                    } else {
                        return false;
                    }
                });

                // this.$router.push('/page/campaings');
            }
        }

    }
</script>

<style scoped>
    .login {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fff;
        background-size: cover
    }

    .codeMsg {
        height: 36px;
        vertical-align: middle;
        width: 100%;
        background-color: #ccc;
        border: 0;
        cursor: pointer;
    }

    .login-header {
        height: 60px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        padding: 10px 20px;
    }

    .login-header>img {
        height: 100%;
        vertical-align: middle;
    }

    .login-container {
        box-sizing: border-box;
        width: 422px;
        background: #fff;
        border-radius: 1px;
        position: fixed;
        left: 50%;
        top: 20%;
        margin-left: -211px;
        padding: 20px 40px;
    }

    .login-container h1 {
        margin: 0;
        font-size: 20px;
        color: #333;
        margin-bottom: 30px;
        text-align: center;
    }

    .login-container p {
        margin: 0;
        font-size: 14px;
        padding: 0;
        color: #333;
        line-height: 18px;
    }

    .login-form-forgot {
        margin-bottom: 30px;
        font-size: 14px;
    }

    .code-entry {}

    .login-btn {
        width: 100%;
        /*background-color: #3c3c3e;*/
        border: 0;
        /*border: 1px solid #000;*/
        color: #fff;
        /*background: -webkit-linear-gradient(top, #595e68, #111216);
        background: -o-linear-gradient(bottom, #595e68, #111216);
        background: -moz-linear-gradient(bottom, #595e68, #111216);
        background: linear-gradient(to bottom, #595e68, #111216);*/
    }

    .logoin-footer {
        text-align: center;
        position: absolute;
        bottom: 50px;
        width: 100%;
        color: #80807d;
    }

    .logoin-footer>span {
        border-top: 1px solid #ccc;
        display: inline-block;
        width: 150px;
        vertical-align: middle;
    }

    .btn-defalt {
        color: #c1272d;
        border: 1px solid #c1272d;
    }

    .btn-defalt:hover {
        color: #fff;
        background-color: #c1272d;
        border: 1px solid #c1272d;
    }
</style>
