<template>
  <div class="home">
    <div class="home-header">
      <el-menu theme="dark" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">联系我们</el-menu-item>
        <el-menu-item index="3" style="float: right">
          <el-button @click="onRegisterClick('page')" >My Page</el-button>
        </el-menu-item>
        <el-menu-item index="3" style="float: right">
          <el-button type="primary" @click="onRegisterClick('new')">sign up</el-button>
        </el-menu-item>
        <el-menu-item index="3" style="float: right">
          <el-button @click="onRegisterClick('login')" >login in</el-button>
        </el-menu-item>
      </el-menu>
    </div>
    <div class="home-banner" :style="bannerStyle">
      <div class="home-banner-content">
        this is banner
      </div>
    </div>
    <div class="home-container">

    </div>
    <div class="home-footer">

    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      bannerStyle: {
        height: window.innerHeight-60 + 'px',
      }
    }
  },
  created () {

  },
  methods: {
    handleSelect(){

    },
    onRegisterClick(type){
			if(type === 'login'){
        this.$router.push('/login');
			}else if(type === 'new'){
				this.$router.push('/newUser');
			}else{
        this.$router.push('/page/campaings');
      }
    },
    onSubmit(type){
			if(type === 'login'){
				this.$router.push('/user');
			}else if(type === 'new'){

			}
    }
  }

}
</script>

<style scoped>
  .home{
    /*position: relative;*/
  }
  .home-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 500;
  }
  .home-banner{
    /*box-sizing: border-box;*/
    /*border: 1px solid transparent;*/
    background: #ccc;
    margin-top: 60px;
  }
  .home-container{
    height: 1000px;
    background: #0ff;
  }
  .home-footer{
    background: #333;
    height: 200px;
  }
</style>
