<template>
  <div class="page" @click="onLogout('body')">
    <div class="page-content">
      <div class="page-content-left">
        <div class="page-content-left-header">
          <img src="../assets/logo.png" alt="" class="page-content-left-header-img"/>
        </div>
        <ul>
          <li>
             <a :class="{ 'page-menu': true, 'page-menu-hover': isActive.campaings }" @click="handleSelect('/page/campaings', 'CAMPAIGNS')"><i class="fa fa-user fa-fw" aria-hidden="true"></i> CAMPAIGNS</a>
          </li>
          <li>
            <a :class="{ 'page-menu': true, 'page-menu-hover': isActive.createCampings }" @click="handleSelect('/page/createCampings', 'CREATE CAMPAIGN')"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> CREATE CAMPAIGN</a>
          </li>
          <!--<li>
              <a :class="{ 'page-menu': true, 'page-menu-hover': isActive.wallet }" @click="handleSelect('/page/wallet', 'WALLET')"><i class="page-menu-balance"></i>WALLET</a>
          </li>-->
          <li>
              <a :class="{ 'page-menu': true, 'page-menu-hover': isActive.settings }" @click="handleSelect('/page/settings', 'SETTING')"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> SETTINGS</a>
          </li>
          <li>
              <a :class="{ 'page-menu': true, 'page-menu-hover': isActive.faq }" @click="handleSelect('/page/faq', 'FAQ')"><i class="fa fa-question-circle-o fa-fw" aria-hidden="true"></i> FAQ</a>
          </li>
        </ul>
      </div>
      <div class="page-content-right">
        <div class="page-logo">
          <div class="page-logo-title">
            {{currentItem}}
          </div>
          <div class="page-logo-user">
            <!--<div class="page-logo-user-img">
              <img :src="photoUrl" alt="" style="width: 40px; height: 40px;"/>
            </div>-->
            <div class="page-logo-user-drop" @click="onLogout">
              <i class="fa fa-caret-down" aria-hidden="true" style="color:#c1272d"></i>
              <div class="drop-down" v-if="isLogout">
                  <div class="drop-down-msg">

                  </div>
                  <div class="drop-down-btn">
                    <el-button type="text" @click="onLogoutRequest">LOG OUT</el-button>
                  </div>
              </div>
            </div>
            <div class="page-logo-user-name"  @click="onLogout">
              {{userName}}
            </div>
          </div>
        </div>
        <div class="page-content-right-content">
            <transition name="fade" mode="out-in">
                <router-view class="view" on:message="aaa"></router-view>
            </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {
        baseul
    } from '../apiRequest';
    import store from 'store2';
    export default {
        name: 'page',
        data() {
            return {
                isLogout: false,
                isActive: {
                    campaings: true,
                    createCampings: false,
                    wallet: false,
                    settings: false,
                    faq: false
                },
                userName: '',
                photoUrl: '',
                currentItem: 'CAMPAIGNS',
                fullPage: {
                    height: window.innerHeight + 'px',
                    overflow: 'hidden'
                },
                pageContent: {
                    height: window.innerHeight - 80 + 'px',
                    overflow: 'auto',
                    backgroundColor: '#f5f7fa'
                }
            }
        },
        created() {
            window.scrollTo(0,0);
            let imgurl = '';
            let userMsg = store('userMsg');
            if (userMsg.brand_company_phone) {
                if (userMsg.brand_company_logo) {
                    imgurl = userMsg.brand_company_logo;
                } else {
                    imgurl = 'logo-1490856427828.png';
                }
                let url = baseul + "/uploads/" + imgurl;
                let name = userMsg.brand_user_name || store('userName');
                this.photoUrl = url;
                this.userName = name;
            }
            this.$on('title', function(msg) {
                this.currentItem = msg === 'faq' ? 'FAQ' : msg === 'settings' ? 'SETTINGS' : msg === 'campaings' ? 'CAMPAIGNS' : msg === 'createCampings' ? 'CREATE CAMPAIGN' : 'CAMPAIGN DETAILS';
                this.changeSelectItem(msg);
            });

            this.$on('userName', function(msg) {
                this.userName = msg;
            });
        },
        methods: {
            onLogout(b) {
                let e = window.event || event;
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else {
                    window.event.cancelBubble = true;
                };
                if (b === 'body') {
                    this.isLogout = false;
                } else {
                    this.isLogout = !this.isLogout;
                }
            },
            onLogoutRequest() {
                sessionStorage.setItem("dataToken", '');
                this.$router.push('/login');
                store('userMsg', '');
            },
            changeSelectItem(name) {
                for (let i in this.isActive) {
                    if (this.isActive[i]) {
                        this.isActive[i] = false;
                    }
                }
                this.isActive[name] = true;
            },
            handleSelect(path, title) {
                this.$router.push(path);
                let name = path.split('/');
                this.changeSelectItem(name[2]);
                this.currentItem = title;
            }
        }
    }
</script>

<style scoped>
    .page-logo {
        height: 62px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
        box-sizing: border-box;
        padding-left: 230px;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    .page-logo-title {
        float: left;
        font-size: 14px;
        color: #333;
        font-family: 'Helvetica';
        margin-left: 40px;
        line-height: 62px;
    }

    .page-logo-user {
        float: right;
        height: 62px;
        position: relative;
        padding-right: 40px;
    }

    .page-logo-user-name {
        line-height: 62px;
        float: right;
        color: #333;
        font-family: 'Helvetica';
        font-size: 1vw;
        cursor: pointer;
    }

    .page-logo-user-drop {
        float: right;
        line-height: 62px;
        margin-left: 10px;
    }

    .page-logo-user-drop .drop-down {
        position: absolute;
        right: 40px;
        top: 62px;
        width: 150px;
        /*min-height: 100px;*/
        line-height: 40px;
        background-color: #fff;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .drop-down-btn {
        width: 100%;
        text-align: center;
    }

    .page-logo-user-drop .drop-down p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        cursor: pointer;
    }

    .page-logo-user-img {
        float: right;
        width: 40px;
        height: 40px;
        background-color: #aaa;
        margin-left: 20px;
        margin-right: 40px;
        margin-top: 11px;
        border-radius: 10px;
    }

    .el-menu-item {
        width: 100%;
        margin: 0;
    }

    .page-content-left {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 230px;
        z-index: 100;
        overflow: auto;
        background-color: #f5f7fa;
    }

    .page-content-left-header {}

    .page-content-left-header-img {
        display: block;
        width: 70%;
        margin: 72px auto 40px;
    }

    .page-content-right {}

    .page-content-right-content {
        /*position: fixed;
        left: 0;
        top: 62px;
        width: 100%;*/
        bottom: 0;
        padding-left: 230px;
        padding-top: 62px;
        overflow: auto;
        box-sizing: border-box;
        background-color: #fff;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul>li {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 20px;
        height: 45px;
    }

    .page-menu {
        display: block;
        width: 100%;
        height: 45px;
        text-decoration: none;
        font-size: 14px;
        line-height: 45px;
        margin: 0;
        font-family: 'Helvetica-Bold';
        color: #333;
        cursor: pointer;
        padding-left: 20px;
        box-sizing: border-box;
        border-left: 4px solid transparent;
    }

    .page-menu>i {
        color: #c1272d;
        padding-right: 10px;
        font-size: 20px;
    }

    .page-menu:hover {
        background-color: #f9ced0;
    }

    .page-menu-hover {
        /*background-color: #d1e5f9;
        color: #000;
        border-left: 4px solid #448aca;*/
        background-color: #f9ced0;
        color: #000;
        border-left: 4px solid #c1272d;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: all .1s ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }

    @media screen and (max-height: 650px) {}
</style>
