<template>
    <div class="campaings">
        <div class="campaings-container">
            <img v-if="isShowImage" src="../../assets/no-ca1.png" alt="">
            <div class="campaings-card" v-for="o in campaingsList" :key="'index' + o.id">
                <div class="campaings-card-logo">
                    <img :src="o.img" alt=""></img>
                </div>
                <div class="campaings-card-type" :style="{backgroundColor: o.type === 1 ? '#0188fa' : o.type === 2 ? '#ffb607' : o.type === 3 ? '#00bd9c' : o.type === 4 ? '#9b9b9b' : o.type === 5 ? '#000' :'#f24f4b'}">{{o.typeText}}</div>
                <h2 class="campaings-card-title" @click="goDetails(o.id)">{{o.title}}</h2>
                <div class="campaings-card-desc" @click="goDetails(o.id)">{{o.desc}}</div>
                <div class="campaings-card-msg">
                    <p>Payment/Budget:<span>{{o.balance}}</span> </p>
                    <p>Clicks:<span>{{o.click}}</span> </p>
                    <p>Conversions:<span>{{o.activation}}</span> </p>
                </div>
                <div class="campaings-card-btn">
                    <el-button
                    type="primary"
                    :disabled="o.type === 1 || o.type === 6 ? true : false" @click="onCheckDetails(o)"
                    style="width:100%;">
                    {{ o.type === 1 || o.type === 2 ? 'START' :  o.type === 6 ? 'REJECTED' :'DETAILE' }}
                    </el-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        getCompaigns,
        baseul,
        changeCampaignState,
        getBrandUserMsg
    } from '../../apiRequest';
    import store from 'store2';
    import config from '../../config.js';
    export default {
        name: 'campaings',
        data() {
            return {
                width: window.innerWidth,
                campaingsList: [],
                isShowImage: false,
                brand_user_id: ''
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('title', 'campaings');
            let userMsg = store('userMsg');
            getBrandUserMsg({
                phone: userMsg.brand_company_phone
            }).then((data) => {
                if (data.data.code === 0) {
                    let userMsgs = data.data.msg[0];
                    this.brand_user_id = userMsgs.brand_user_id;
                    this.requestGetCompaigns();
                    if (data.data.msg.length > 0) {
                        store('userMsg', userMsgs);
                    };
                    // 1 已注册未提交  2 已提交未审核 3 审核通过  4 审核驳回
                    if (userMsgs.brand_company_state === 1) {
                        this.$notify({
                            title: 'warning',
                            message: 'In order to create a campaign, please submit the information of your company first.',
                            type: 'warning',
                            duration: config.duration
                        });
                        setTimeout(() => {
                            this.$router.push('/page/settings');
                        }, 1000);
                    } else if (userMsgs.brand_company_state === 2) {
                        // this.$notify({
                        //     title: 'success',
                        //     message: 'The Information you submitted is approved, you can create campaigns by clicking “CREATE CAMPAIGN”.',
                        //     type: 'success'
                        // });
                    } else if (userMsgs.brand_company_state === 4) {
                        this.$notify.warning({
                            title: 'warning',
                            message: 'Your request has been rejected, please modify and submit again.'
                        });
                        setTimeout(() => {
                            this.$router.push('/page/settings');
                        }, 1000);
                    }
                }
            }).catch((res) => {
                this.$notify.error({
                    title: 'error',
                    message: res.toString(),
                    duration: config.duration
                });
            });
        },
        methods: {
            requestGetCompaigns() {
                // 6 Rejected  -  5 Completed - 4 Ended - 3 Started - 2 Reviewed - 1 Reviewing
                getCompaigns({
                    userid: this.brand_user_id
                }).then((data) => {
                    if (data.data.code === 0) {
                        if (data.data.msg.length > 0) {
                            let list = [];
                            data.data.msg.forEach((_msg, i) => {
                                let imgurl = '';
                                if (_msg.brand_campaign_logo) {
                                    imgurl = _msg.brand_campaign_logo;
                                } else {
                                    imgurl = config.defaultImg;
                                }
                                let url = baseul + "/uploads/" + imgurl;
                                let states = _msg.brand_campaign_state * 1;
                                list.push({
                                    id: _msg.brand_campaign_id,
                                    img: url,
                                    type: states,
                                    typeText: states === 1 ? 'Reviewing' : states === 2 ? 'Reviewed' : states === 3 ? 'Started' : states === 4 ? 'Ended' : states === 5 ? 'Completed' : 'Rejected',
                                    title: _msg.brand_campaign_name,
                                    desc: _msg.brand_campaign_note,
                                    balance: '$' + (_msg.brand_budget_cost || 0) + '/$' + (_msg.brand_budget_amount / 1000 || 0),
                                    impession: _msg.brand_campaign_imp || 0,
                                    click: _msg.brand_campaign_click || 0,
                                    activation: _msg.brand_campaign_action || 0
                                });
                            });
                            this.campaingsList = list;
                        } else {
                            this.isShowImage = true;
                            return;
                        }
                    } else {
                        this.$notify.error({
                            title: 'error',
                            message: data.data.msg,
                            duration: config.duration
                        });
                    }
                }).catch((res) => {
                    this.$notify.error({
                        title: 'error',
                        message: res.toString(),
                        duration: config.duration
                    });
                });
            },
            goDetails(id) {
                this.$router.push('/page/campaingsDetails/' + id);
            },
            onCheckDetails(o) {
                if (o.type === 2) {
                    changeCampaignState({
                        id: o.id,
                        state: 3
                    }).then((data) => {
                        if (data.data.code === 0) {
                            this.$notify({
                                title: '',
                                message: 'Success!',
                                type: 'success',
                                duration: config.duration
                            });
                            this.requestGetCompaigns();
                        } else {
                            this.$notify({
                                title: 'error',
                                message: data.data.msg,
                                type: 'error',
                                duration: config.duration
                            });
                        }
                    }).catch((res) => {
                        this.$notify({
                            title: 'error',
                            message: res.toString(),
                            type: 'error',
                            duration: config.duration
                        });
                    })

                } else {
                    this.$router.push('/page/campaingsDetails/' + o.id);
                }
            },
            handleSelect() {

            },
            onRegisterClick(type) {
                if (type === 'login') {
                    this.$router.push('/home/login');
                } else if (type === 'new') {
                    this.$router.push('/home/newUser');
                } else {
                    this.$router.push('/page');
                }
            },
            onSubmit(type) {
                if (type === 'login') {
                    this.$router.push('/user');
                } else if (type === 'new') {

                }
            }
        }

    }
</script>

<style scoped>
    .campaings {
        padding: 60px 40px;
    }

    .campaings-container>img {
        display: block;
    }

    h2 {
        margin: 10px auto;
        text-align: center;
        position: relative;
        top: -20px;
        color: #333;
        font-size: 18px;
        font-family: 'Helvetica-Bold';
        cursor: pointer;
    }

    .campaings-card {
        display: inline-block;
        width: 260px;
        max-height: 500px;
        background-color: #f5f7fa;
        position: relative;
        /*border-radius: 8px;*/
        margin: 0 10px 60px;
        border: 1px solid #ccc;
        position: relative;
        text-align: center;
    }

    .campaings-card-logo{
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        margin: 0 auto;
        position: relative;
        top: -20px;
        background-color: #f5f7fa;
        background-size: cover;
        overflow: hidden;
        text-align: center;
    }

    .campaings-card-logo>img {
        height: 80px;
        border-radius: 8px;
        margin: 0 auto;
        background-color: #f5f7fa;
        background-size: cover;
    }

    .campaings-card-type {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #0188fa;
        font-size: 13px;
        text-align: center;
        line-height: 20px;
        color: transparent;
        overflow: hidden;
        cursor: pointer;
    }

    .campaings-card-type:hover {
        width: 75px;
        color: #fff;
        transition: 0.3s 0.1s all ease;
    }

    .campaings-card-title {
        width: 270px;
        margin: 15px auto;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }

    .campaings-card-desc {
        margin: 0 20px 20px;
        position: relative;
        top: -20px;
        font-family: 'Helvetica';
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        height: 40px;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .campaings-card-msg {
        margin: 0px 20px 20px;
        position: relative;
        top: -20px;
    }

    .campaings-card-msg>p {
        margin: 0;
        padding: 0;
        color: #999;
        font-size: 14px;
        font-family: 'Helvetica';
        border-bottom: 1px solid #ccc;
        line-height: 42px;
        text-align: left;
    }

    .campaings-card-msg>p>span {
        color: #333;
        font-size: 18px;
        float: right;
    }

    .campaings-card-btn {
        position: relative;
        top: -20px;
        margin: 0 20px 20px;
        height: 40px;
    }
</style>
