<template>
  <div class="campaings">
      <div class="campaings-tabs">
        <el-tabs v-model="activeName">
            <el-tab-pane label="Performance" name="first">
                <div class="campaings-card">
                    <div class="campaings-card-item">
                        <el-row class="campaings-card-item-first">
                            <el-col :span="3" class="campaings-card-item-first1">
                            <img :src="detailsObj.img" alt="" class="campaings-card-img"></img>
                            </el-col>
                            <el-col :span="18" class="campaings-card-item-first2">
                            <div class="card-header">{{detailsObj.title}}</div>
                            <div class="card-app">
                                <div v-if="detailsObj.iosLink">
                                IOS App:<a :href="detailsObj.iosLink" target="_blank">{{detailsObj.iosLink}}</a>
                                </div>
                                <div v-if="detailsObj.androidLink">
                                Android App:<a :href="detailsObj.androidLink" target="_blank">{{detailsObj.androidLink}}</a>
                                </div>
                                <div v-if="detailsObj.pcLink">
                                Link:<a :href="detailsObj.pcLink" target="_blank">{{detailsObj.pcLink}}</a>
                                </div>
                            </div>
                            <div class="card-desc">{{detailsObj.desc}}</div>
                            </el-col>
                            <el-col :span="3" class="campaings-card-item-first3">
                                <div class="card-time">{{detailsObj.createTime}}</div>
                                <div class="card-typing" :style="{'color': detailsObj.type*1 === 1 ? '#0188fa' : detailsObj.type === 2 ? '#f24f4b' : detailsObj.type === 3 ? '#00bd9c' : detailsObj.type === 4 ? '#9b9b9b' : detailsObj.type === 5 ? '#000' :'#ffb607'}">{{detailsObj.typeText}}</div>
                                <el-button
                                    type="primary"
                                    v-if="isShowBtn"
                                    :disabled="isDisabled"
                                    @click="onCheckDetails()"
                                    :style="{width: '100%'}">START</el-button>
                            </el-col>
                        </el-row>
                        <el-row class="campaings-card-item-second">
                            <el-col :span="6">
                            <div>Payment/budget</div>
                            <h2>{{detailsObj.balance}}</h2>
                            </el-col>
                            <!--<el-col :span="6">
                            <div>Impression</div>
                            <h2>{{detailsObj.impession}}</h2>
                            </el-col>-->
                            <el-col :span="6">
                            <div>clicks</div>
                            <h2>{{detailsObj.click}}</h2>
                            </el-col>
                            <el-col :span="6">
                            <div>conversions</div>
                            <h2>{{detailsObj.activation}}</h2>
                            </el-col>
                        </el-row>
                        </div>
                        <div class="campaings-card-block" v-if="isShowMsg">
                        <div class="campaings-card-block-menu">
                            <el-row :gutter="10">
                                <el-col :span="8">
                                    <el-date-picker
                                        v-model="dateValue"
                                        type="daterange"
                                        align="left"
                                        style="width: 100%"
                                        placeholder="From-To"
                                        :picker-options="pickerOptions2">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="3" style="text-align: center;">
                                    <el-button type="primary" style="margin-left: 25px;" @click="requestDataList">CHECK</el-button>
                                </el-col>
                            </el-row>

                        </div>
                        <div class="campaings-card-block-list">
                            <p>Data</p>
                            <div class="list-content">
                            <el-table
                                :data="tableData"
                                height="362"
                                empty-text="No data!"
                                show-summary
                                :summary-method="getSummaries"
                                style="width: 100%">
                                <el-table-column
                                prop="date"
                                label="Date">
                                </el-table-column>

                                <el-table-column
                                prop="clicks"
                                label="clicks">
                                </el-table-column>
                                <el-table-column
                                prop="conversion"
                                label="conversions">
                                </el-table-column>

                            </el-table>
                            </div>
                        </div>
                        <div class="campaings-card-block-chart">
                            <div class="chart-content" id="main-chart1"></div>
                        </div>
                        <!--<div class="campaings-card-block-chart2">
                            <el-row>
                            <el-col :span="8">
                                <div id="main-chart2" style="width: 100%; height: 400px"></div>
                            </el-col>
                            <el-col :span="16" style="position:relative;">
                                <el-table
                                :data="tableData2"
                                empty-text="No data!"
                                height="340"
                                style="width:90%;position:absolute;top:60px;right:0;">
                                <el-table-column
                                    prop="country"
                                    width="120"
                                    label="Platform">
                                </el-table-column>
                                <el-table-column
                                    prop="pie"
                                    label="%"
                                    width="100">
                                </el-table-column>
                                <el-table-column
                                    prop="impression"
                                    label="Impression">
                                </el-table-column>
                                <el-table-column
                                    prop="tclick"
                                    label="Click">
                                </el-table-column>
                                <el-table-column
                                    prop="uclick"
                                    label="Action">
                                </el-table-column>
                                </el-table>
                            </el-col>
                            </el-row>
                        </div>-->
                    </div>
                </div>
            </el-tab-pane>
            <!--<el-tab-pane label="Bill" name="second">
                 <div class="campaings-tabs-j">
                    <el-row class="campaings-tabs-j-f">
                        <el-col :span="21">
                            <p>Promotion period cost: <span>$</span></p>
                            <p>Longtail traffic period cost: <span>$</span></p>
                        </el-col>
                        <el-col :span="3">
                            <el-button type="primary" style="width:100%;">TERMINATE</el-button>
                        </el-col>
                        </el-row>
                        <el-row>
                        <el-col :span="24">
                            <el-table
                            :data="tableData3"
                            empty-text="No data!"
                            style="width:100%;">
                            <el-table-column
                                prop="date"
                                label="Date">
                            </el-table-column>
                            <el-table-column
                                prop="influencer"
                                label="Influencer">
                            </el-table-column>
                            <el-table-column
                                prop="address"
                                label="Feed URL">
                            </el-table-column>
                            <el-table-column
                                prop="price"
                                label="CPC($)">
                            </el-table-column>
                            <el-table-column
                                prop="click"
                                label="Click">
                            </el-table-column>
                            <el-table-column
                                prop="longClick"
                                width="140"
                                label="Longtail Click">
                            </el-table-column>
                            <el-table-column
                                prop="amount"
                                label="Amount($)">
                            </el-table-column>
                            <el-table-column
                                prop="longAmount"
                                label="Longtail($)">
                            </el-table-column>
                            </el-table>
                        </el-col>
                    </el-row>
                </div>
            </el-tab-pane>-->
        </el-tabs>
      </div>
  </div>
</template>

<script>
    import echarts from 'echarts';
    import {
        getCompaignsById,
        getCompaignsData,
        baseul,
        changeCampaignState
    } from '../../apiRequest';
    import moment from 'moment';
    import config from '../../config.js';
    export default {
        name: 'campaings',
        data() {
            let end = new Date();
            let start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
            return {
                isdActive: true,
                iseActive: false,
                dateValue: [start,end],
                isdShow: 'block',
                iseShow: 'none',
                isDisabled: true,
                isShowMsg: false,
                isDisplay: 'none',
                isUpBtn: 'block',
                detailsObj: {},
                isShowBtn: false,
                value: '7',
                activeName: 'first',
                form: {
                    start: '',
                    end: ''
                },
                chart: null,
                bannerStyle: {
                    height: window.innerHeight - 60 + 'px',
                },
                tableData: [],
                tableData2: [],
                tableData3: [],
                xData: [],
                xValue: [],
                userId: '',
                 pickerOptions2: {
                    shortcuts: [
                        {
                            text: 'Last week',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: 'Last 2 weeks',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 13);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: 'Last 30 days',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 29);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: 'Last 60 days',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 59);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: 'Last 90 days',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 89);
                                picker.$emit('pick', [start, end]);
                            }
                        }
                    ]
                }
            }
        },
        created() {
            window.scrollTo(0,0);
            let id = this.$route.params.id;
            this.userId = id;
            this.$parent.$emit('title', 'CAMPAIGN DETAILS');
            getCompaignsById({
                id: id * 1
            }).then((data) => {
                let states = data.data.msg[0].brand_campaign_state * 1;
                if (states !== 1) {
                    this.isDisabled = false;
                }
                if (states === 1 || states === 2) {
                    this.isShowBtn = true;
                    this.isShowMsg = false;
                } else {
                    this.isShowBtn = false;
                    this.isShowMsg = true;
                }
                let imgUrl = '';
                if (data.data.msg[0].brand_campaign_logo) {
                    imgUrl = data.data.msg[0].brand_campaign_logo;
                } else {
                    // imgUrl = 'logo-1490856427828.png';
                    imgUrl = config.defaultImg;
                };
                this.detailsObj = {
                    id: data.data.msg[0].brand_campaign_id,
                    img: baseul + "/uploads/" + imgUrl,
                    type: states,
                    iosLink: data.data.msg[0].brand_campaign_ioslink,
                    androidLink: data.data.msg[0].brand_campaign_androidlink,
                    pcLink: data.data.msg[0].brand_campaign_pclink,
                    typeText: states === 1 ? 'Reviewing' : states === 2 ? 'Reviewed' : states === 3 ? 'Started' : states === 4 ? 'Ended' : states === 5 ? 'Completed' : 'Rejected',
                    title: data.data.msg[0].brand_campaign_name,
                    desc: data.data.msg[0].brand_campaign_note,
                    balance: '$' + (data.data.msg[0].brand_budget_cost || 0) + '/$' + (data.data.msg[0].brand_budget_amount / 1000 || 0),
                    impession: data.data.msg[0].brand_campaign_imp || 0,
                    click: data.data.msg[0].brand_campaign_click || 0,
                    activation: data.data.msg[0].brand_campaign_action || 0,
                    createTime: data.data.msg[0].brand_campaign_createat.slice(0, 10)
                };
                if (states >= 3) {
                    this.requestDataList();
                }
            })
        },
        methods: {
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                if (index === 0) {
                    sums[index] = 'Total';
                    return;
                }
                const values = data.map(item => Number(item[column.property]));
                if (!values.every(value => isNaN(value))) {
                    sums[index] = values.reduce((prev, curr) => {
                    const value = Number(curr);
                        if (!isNaN(value)) {
                            return prev + curr;
                        } else {
                            return prev;
                        }
                    }, 0);
                    sums[index] += '';
                } else {
                    sums[index] = this.tableData.length;
                }
                });
                return sums;
            },
            searchData() {

            },
            changeDate(value) {
                this.value = '0';
            },
            requestDataList() {
                let obj = {
                    id: this.detailsObj.id,
                    startdate: moment(this.dateValue[0]).format('YYYY-MM-DD HH:mm:ss'),
                    enddate: moment(this.dateValue[1]).format('YYYY-MM-DD HH:mm:ss')
                };
                getCompaignsData(obj).then((data) => {
                    let s = moment(this.dateValue[0]);
                    let start = moment(this.dateValue[0]).format('YYYY-MM-DD');
                    let e = moment(this.dateValue[1]).format('YYYY-MM-DD');
                    let list = [start];
                    while (true) {
                        let ss = s.add(1, 'days').format('YYYY-MM-DD');
                        list.push(ss);
                        if (ss === e) {
                            break;
                        }
                    }
                    this.xData = list;
                    let arr = [];
                    if (data.data.msg.length > 0) {

                        list.forEach((l, index) => {
                            arr.push({
                                date: l,
                                clicks: 0,
                                conversion: 0,
                                impression: 0,
                                spent: 0,
                                cpc: 0.38
                            });
                            data.data.msg.forEach((_msg, i) => {
                                if (_msg.brand_campaign_date.slice(0, 10) === l) {
                                    arr[index].clicks = _msg.click;
                                    arr[index].conversion = _msg.action;
                                    arr[index].impression = _msg.imp;
                                    arr[index].spent = '$78';
                                    arr[index].cpc = '$0.38';
                                }
                            })
                        });

                    }
                    this.tableData = arr;
                    this.$nextTick(function() {
                        this.drawCharts('main-chart1', 'line');
                        // this.drawCharts('main-chart2', 'pie');
                    })
                })
            },
            onChangeItem(value) {
                if (value * 1 === 0) {

                } else {
                    let end = new Date();
                    let start = new Date();
                    if (value * 1 === 7) {
                        // 近一周
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                    } else if (value * 1 === 14) {
                        // 近两周
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 14);
                    } else if (value * 1 === 30) {
                        // 近一个月
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                    } else if (value * 1 === 60) {
                        // 近两个月
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 60);
                    } else if (value * 1 === 90) {
                        // 近两个月
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                    }
                    this.form.start = start;
                    this.form.end = end;
                    this.requestDataList();
                }
            },
            isActiveShow(t) {
                if (t === 'd') {
                    this.isdActive = true;
                    this.iseActive = false;
                    this.isdShow = 'block';
                    this.iseShow = 'none';
                } else if (t === 'e') {
                    this.isdActive = false;
                    this.iseActive = true;
                    this.isdShow = 'none';
                    this.iseShow = 'block';
                }
            },
            handleClick() {

            },
            drawCharts(dom, type) {
                this.chart = echarts.init(document.getElementById(dom));
                this.chart.showLoading();
                if (type === 'line') {
                    let idata = [];
                    let cdata = [];
                    let adata = [];
                    this.tableData.forEach((tab, i) => {
                            idata.push(tab.impression);
                            cdata.push(tab.clicks);
                            adata.push(tab.conversion);
                        })
                    this.chart.setOption({
                        title: {
                            text: 'Line',
                            x: 'left'
                        },
                        legend: {
                            data: ['clicks', 'conversions'],
                            x: 'center',
                            y: 'bottom',
                            // orient: 'vertical'
                        },
                        grid: [{
                            left: 30,
                            right: 10,
                            height: '60%'
                        }],
                        tooltip: {
                            trigger: 'axis'
                        },
                        xAxis: {
                            data: this.xData,
                            boundaryGap: false
                        },
                        yAxis: {},
                        series: [
                            {
                                name: 'clicks',
                                type: 'line',
                                data: cdata
                            }, {
                                name: 'conversions',
                                type: 'line',
                                data: adata
                            },
                        ]
                    });
                } else {
                    this.chart.setOption({
                        title: {
                            text: 'Pie',
                            x: 'left'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                        },
                        legend: {
                            x: 'center',
                            y: 'bottom',
                            data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎', '1', '2', '3', '4', '5']
                        },
                        series: [{
                            name: '访问来源',
                            type: 'pie',
                            radius: ['40%', '60%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: [{
                                value: 335,
                                name: '直接访问'
                            }, {
                                value: 310,
                                name: '邮件营销'
                            }, {
                                value: 234,
                                name: '联盟广告'
                            }, {
                                value: 135,
                                name: '视频广告'
                            }, {
                                value: 1548,
                                name: '搜索引擎'
                            }, {
                                value: 335,
                                name: '1'
                            }, {
                                value: 310,
                                name: '2'
                            }, {
                                value: 234,
                                name: '3'
                            }, {
                                value: 135,
                                name: '4'
                            }, {
                                value: 1548,
                                name: '5'
                            }]
                        }]
                    });
                }
                this.chart.hideLoading();
            },
            onCheckDetails() {
                changeCampaignState({
                    id: this.userId,
                    state: 3
                }).then((data) => {
                    if (data.data.code === 0) {
                        this.$notify({
                            title: '',
                            message: 'Success!',
                            type: 'success',
                            duration: config.duration
                        });
                    } else {
                        this.$notify({
                            title: 'error',
                            message: data.data.msg,
                            type: 'error',
                            duration: config.duration
                        });
                    }
                }).catch((res) => {
                    this.$notify({
                        title: 'error',
                        message: res.toString(),
                        type: 'error',
                        duration: config.duration
                    });
                })
            },
            onSubmit(type) {
                if (type === 'login') {
                    this.$router.push('/user');
                } else if (type === 'new') {

                }
            }
        }

    }
</script>

<style scoped>
    .campaings {
        padding: 60px 40px;
        background-color: #fff;
        border-radius: 4px;
    }

    .campaings-tabs {
        /*border: 1px solid #ccc;*/
    }

    .campaings-menu {
        height: 60px;
        padding: 0 40px;
        font-size: 16px;
        color: #999;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
    }

    .campaings-menu>span {
        padding: 0 40px;
        display: inline-block;
        line-height: 60px;
        cursor: pointer;
    }

    .campaings-menu>span.active {
        color: #333;
        font-weight: bold;
        border-bottom: 2px solid #333;
    }

    .campaings-tabs-first {
        color: #333;
        font-size: 14px;
    }

    .campaings-tabs-j {
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
    }

    .campaings-tabs-j-f {
        margin-bottom: 20px;
    }

    .el-select-item {
        display: block;
    }

    .campaings-tabs-j p {
        color: #999;
        font-size: 14px;
        margin: 0;
        display: inline-block;
        line-height: 36px;
        margin-right: 20px;
    }

    .campaings-tabs-j p>span {
        color: #333;
        font-size: 14px;
        padding-left: 20px;
    }

    .el-input__icon {
        color: #000;
    }

    .campaings-card {
        box-sizing: border-box;
    }

    .campaings-card-item {
        padding: 40px 40px 20px;
        background-color: #f5f7fa;
        /*border-bottom: 1px solid #ccc;*/
    }

    .campaings-card-img {
        width: 100%;
    }

    .campaings-card-item-first {
        /*padding-bottom: 20px;*/
        /*border-bottom: 1px solid #ccc;*/
    }

    .campaings-card-item-first2 {
        padding: 0 40px 0 20px;
    }

    .campaings-card-item-first2>div {
        margin-bottom: 10px;
        font-size: 16px;
        color: #333;
    }

    .campaings-card-item-first2 .card-header {
        font-weight: 900;
        font-size: 22px;
    }

    .card-app {
        word-wrap: break-word;
    }

    .card-app>div {
        margin: 10px 0;
    }

    .card-desc {
        word-wrap: break-word;
    }

    .campaings-card-item-first3 {
        padding: 35px 0 0 0;
        text-align: center;
    }

    .campaings-card-item-first3>div {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .campaings-card-item-first3>div.card-time {
        font-size: 14px;
    }

    .campaings-card-item-second {
        padding-top: 20px;
    }

    .campaings-card-item-second div {
        font-size: 14px;
        color: #999;
    }

    .campaings-card-item-second h2 {
        font-weight: normal;
        margin-bottom: 0;
        font-size: 18px;
        color: #333;
    }

    .campaings-card-block {
        margin-top: 20px;
        background-color: #fff;
        border-radius: 4px;
    }

    .campaings-card-block-menu {
        border-bottom: 1px solid #ccc;
        padding: 30px 40px;
    }

    .campaings-card-block-list {
        padding: 0 40px 30px;
        /*border-bottom: 1px solid #ccc;*/
    }

    .campaings-card-block-list>p {
        margin: 55px 0 20px;
        color: #333;
        font-size: 18px;
        font-weight: bold;
    }

    .campaings-card-block-chart {
        padding: 0 30px;
        margin: 30px 0;
    }

    #main-chart1 {
        height: 300px;
        width: 100%;
    }

    .campaings-card-block-chart2 {
        padding: 0 40px 40px;
    }

    a {
        color: #20A0FF;
        padding-left: 10px;
    }
</style>
