<template>
  <div class="createCampings">
    <el-form ref="form" :rules="rules" :model="form" label-width="110px" label-position="right" class="createCampings-form">
      <div class="createCampings-card">
        <div class="createCampings-type">Basic Information</div>
        <div style="paddingLeft:20px;">
          <el-form-item label="Campaign:" prop="name">

                <el-input v-model="form.name"></el-input>

          </el-form-item>
          <el-form-item label="Type:" prop="productType">

                <el-select v-model="form.type" placeholder="Please select" style="width: 30%">
                    <el-option label="APP" value="app" class="el-select-item"></el-option>
                    <el-option label="LINK" value="link" class="el-select-item"></el-option>
                </el-select>

                <el-select v-model="form.productType" placeholder="Please select" style="width: 30%" @change="onChangeSelecte">
                    <el-option label="Shopping" value="Shopping" class="el-select-item"></el-option>
                    <el-option label="Beauty" value="Beauty" class="el-select-item"></el-option>
                    <el-option label="Games" value="Game" class="el-select-item"></el-option>
                    <el-option label="Lifestyle" value="Lifestyle" class="el-select-item"></el-option>
                    <el-option label="Tools" value="Tools" class="el-select-item"></el-option>
                    <el-option label="Social" value="Social" class="el-select-item"></el-option>
                    <el-option label="Education" value="Education" class="el-select-item"></el-option>
                    <el-option label="Other" value="Other" class="el-select-item"></el-option>
                </el-select>

                <el-input v-if="isShowOther" v-model="form.productTypeOther" placeholder="Category" style="width:30%"></el-input>
          </el-form-item>
          <el-form-item label="URL:"  prop="url">
            <el-input v-model="form.pcProductUrl" v-if="form.type === 'link'"></el-input>
            <el-input v-model="form.iosProductUrl" v-if="form.type === 'app'">
              <div slot="prepend">IOS:</div>
            </el-input>
            <el-input v-model="form.androidProductUrl" style="marginTop:10px;" v-if="form.type === 'app'">
                <div slot="prepend">ANDROID:</div>
            </el-input>
            <el-input v-model="form.pcProductUrl" style="marginTop:10px;" v-if="form.type === 'app'">
                <div slot="prepend">LINK:</div>
            </el-input>
          </el-form-item>
          <el-form-item label="Trace Platform:">
                <el-select v-model="form.tracking" placeholder="Please select a tracking source" style="width: 100%">
                    <el-option label="Mat" value="1" class="el-select-item"></el-option>
                    <el-option label="Appsflyer" value="2" class="el-select-item"></el-option>
                    <el-option label="Kovhava" value="3" class="el-select-item"></el-option>
                    <el-option label="Facebook Canvas" value="4" class="el-select-item"></el-option>
                    <el-option label="Mobvista" value="5" class="el-select-item"></el-option>
                    <el-option label="Adjust" value="6" class="el-select-item"></el-option>
                    <el-option label="Leadmill" value="7" class="el-select-item"></el-option>
                    <el-option label="Adboom" value="8" class="el-select-item"></el-option>
                    <el-option label="other" value="9" class="el-select-item"></el-option>
                </el-select>
          </el-form-item>
          <el-form-item label="Trace Link:">
                <el-input v-model="form.measurementUrl"></el-input>
          </el-form-item>

          <el-form-item label="Description:" prop="note">
                <el-input type="textarea" :maxlength="256" :rows="3" placeholder="Description should be less than 256 letters" v-model="form.note"></el-input>
                <div>{{this.form.note.length}}/256</div>
          </el-form-item>

          <el-form-item label="Logo:">
            <!--<el-upload class="upload-demo" drag name="logo" :file-list="fileList" list-type="picture" :action="baseul +'/upload'" :on-success="handleAvatarScucess" :before-upload="beforeAvatarUpload" mutiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drag the file here, or<em> click me</em></div>
                <div class="el-upload__tip" slot="tip">Only jpg/png, maximum 20M</div>
            </el-upload>-->
            <el-upload
                class="avatar-uploader"
                name="logo"
                :action="baseul +'/upload'"
                :show-file-list="false"
                :on-success="handleAvatarScucess"
                :before-upload="beforeAvatarUpload">
                <img v-if="imageBase" :src="imageBase" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
        </div>
    </div>
    <div class="createCampings-card" style="background-color:#f5f7fa;">
        <div class="createCampings-type">Preference</div>
        <div style="paddingLeft:20px;">
            <el-form-item label="Age:" prop="age">
                <el-checkbox-group v-model="form.age">
                    <el-checkbox label="All" name="type" style="marginLeft:15px;"></el-checkbox>
                    <el-checkbox label="13-17" name="type"></el-checkbox>
                    <el-checkbox label="18-24" name="type"></el-checkbox>
                    <el-checkbox label="25-34" name="type"></el-checkbox>
                    <el-checkbox label="35-44" name="type"></el-checkbox>
                    <el-checkbox label="45-54" name="type"></el-checkbox>
                    <el-checkbox label="55+" name="type"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="Gender:" prop="gender">
                <el-radio-group v-model="form.gender">
                    <el-radio label="All" style="marginLeft:15px;"></el-radio>
                    <el-radio label="Male"></el-radio>
                    <el-radio label="Female"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="Location:" prop="location">
                <el-checkbox-group v-model="form.location">
                    <el-checkbox label="All" name="All" style="marginLeft:15px;"></el-checkbox>
                    <el-checkbox label="USA" name="USA"></el-checkbox>
                    <el-checkbox label="UK" name="UK"></el-checkbox>
                    <el-checkbox label="Netherlands" name="Netherlands"></el-checkbox>
                    <el-checkbox label="France" name="France"></el-checkbox>
                    <el-checkbox label="Italy" name="Italy"></el-checkbox>
                    <el-checkbox label="Germany" name="Germany"></el-checkbox>
                    <el-checkbox label="Brazil" name="Brazil"></el-checkbox>
                    <el-checkbox label="Mexico" name="Mexico"></el-checkbox>
                    <el-checkbox label="India" name="India"></el-checkbox>
                    <el-checkbox label="Canada" name="Canada"></el-checkbox>
                    <el-checkbox label="Australia" name="Australia"></el-checkbox>
                    <el-checkbox label="New Zealand" name="New Zealand"></el-checkbox>
                    <el-checkbox label="Thailand" name="Thailand"></el-checkbox>
                    <el-checkbox label="Vietnam" name="Vietnam"></el-checkbox>
                    <el-checkbox label="Others" name="Others"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
        </div>
    </div>
    <div class="createCampings-card">
        <div class="createCampings-type">Budget</div>
        <div style="paddingLeft:20px;">
            <el-form-item label="Amount:" prop="deposit">
                <el-input v-model.number="form.deposit" @blur="onCompute" placeholder="$" style="width:420px;"></el-input>
            </el-form-item>
            <!--<el-form-item label="Warranty:">
                <div class="price-box">
                    {{form.bPrice}}$
                    <i class="fa fa-question-circle bPrice" aria-hidden="true">
                    <div class="bPrice-desc">
                    Long term warranty means the total expense which produced in the three days after action terminated. which will be charged by the 60% of the budget amont. The system will caculate automatically after the steady flow period. If it is less than 60% of the budget, a compensate should be made, and if it is more, you will get the refund of the balance.
                    </div>
                </i>
                </div>
            </el-form-item>
            <el-form-item label="Total:">
                <div class="price-box" style="display:inline-block;width: 30%;">{{form.totale}}$</div>
                = RMB
                <div class="price-box" style="display:inline-block;width: 30%;">
                    {{form.rmbPrice}}￥
                </div>
            </el-form-item>-->
            <div class="money-msg">
                <!--<p>Presently, Star store charges by the way of CPC.</p>
                <p>Please make your deposite by transfering the total amout to  6226 7865 9087 5432 Bank of China.</p>-->
                <p>Online charge is not available by now, please contact with our customer service team to make off-line charge.</p>
                <p>Service e-mail address:<a href="mailto:customerservice@star.store"> customerservice@star.store</a></p>
                <!--<p>Contact Number: 029-87654321</p>-->
            </div>
            <el-form-item>
                <el-button type="primary" size="large" style="width:50%;" @click="onSubmit('form')">SUBMIT</el-button>
                <!--<el-button type="primary" size="large" style="width:50%;backgroundColor:#424f64;border:0;" @click="resetForm('form')">重置</el-button>-->
            </el-form-item>
        </div>
    </div>
</el-form>
    </div>
</template>

<script>
    import {
        createCompaigns,
        baseul,
        getBrandUserMsg
    } from '../../apiRequest';
    import store from 'store2';
    import config from '../../config.js';
    export default {
        name: 'CreateCampings',
        data() {
            let checkAmount = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('Please type in budget amount.'));
                } else if (value < 1000) {
                    callback(new Error('Minimum amount is $1000!'));
                }else if (value > 1000000) {
                    callback(new Error('The maximum charge amount is 1 million!'));
                } else {
                    callback();
                }
            };
            let checkLength = (rule, value, callback) => {
                if (value.length > 256) {
                    callback(new Error('Description should be less than 256 letters.'));
                } else {
                    callback();
                }
            };
            return {
                baseul: baseul,
                dialogTableVisible: false,
                isShowOther: false,
                imageBase: '',
                bannerStyle: {
                    height: window.innerHeight - 60 + 'px'
                },
                fileList: [],
                visible: {
                    name: false
                },
                form: {
                    name: '',
                    type: 'app',
                    productType: '',
                    productTypeLink: '',
                    productTypeOther: '',
                    productUrl: '',
                    url: {
                        iosProductUrl: '',
                        androidProductUrl: '',
                        pcProductUrl: ''
                    },
                    iosProductUrl: '',
                    androidProductUrl: '',
                    pcProductUrl: '',
                    tracking: [],
                    measurementUrl: '',
                    note: '',
                    age: [],
                    gender: '',
                    location: [],
                    deposit: '',
                    bPrice: '',
                    totale: '',
                    rmbPrice: '',
                    image: ''
                },
                rules: {
                    name: [{
                        required: true,
                        message: 'Type in campaign name.',
                        trigger: 'blur'
                    }],
                    url: [{
                        required: true,
                        message: 'Type in Link.'
                    }],
                    productType: [{
                        required: true,
                        message: 'Please select promotion type.',
                        trigger: 'change'
                    }],
                    productUrl: [{
                        required: true,
                        message: 'Type in product URL.',
                        trigger: 'blur'
                    }],
                    age: [{
                        type: 'array',
                        required: true,
                        message: 'At least one age-range is required.',
                        trigger: 'change'
                    }],
                    location: [{
                        type: 'array',
                        required: true,
                        message: 'At least one region is required.',
                        trigger: 'change'
                    }],
                    gender: [{
                        required: true,
                        message: 'Please select gender.',
                        trigger: 'change'
                    }],
                    deposit: [{
                        required: true,
                        validator: checkAmount
                    }, {
                        type: 'number',
                        message: 'Must be number'
                    }],
                    note: {
                        required: true,
                        validator: checkLength
                    },
                    brandUserId: ''
                }
            }
        },
        watch: {
            form: {
                handler(curVal, oldVal) {
                    if (curVal.deposit) {
                        let m = curVal.deposit * 1;
                        if (typeof(m) == "number") {
                            curVal.bPrice = parseInt(m * 0.6 * 100) / 100;
                            curVal.totale = parseInt((m * 1 + this.form.bPrice) * 100) / 100;
                            this.form.rmbPrice = parseInt((m * 1 + this.form.bPrice) * 6.8865 * 100) / 100;
                        }
                    }　　　
                },
                　　　deep: true
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('title', 'createCampings');
            let userMsg = store('userMsg');
            getBrandUserMsg({
                phone: userMsg.brand_company_phone
            }).then((data) => {
                if (data.data.code === 0) {
                    let userMsgs = data.data.msg[0];
                    if (data.data.msg.length > 0) {
                        store('userMsg', userMsgs);
                        this.brandUserId = userMsgs.brand_user_id;
                    };
                    // 1 已注册未提交  2 已提交未审核 3 审核通过  4 审核驳回
                    if (userMsgs.brand_company_state === 1) {
                        this.$notify({
                            title: 'warning',
                            message: 'In order to create a campaign, please submit the information of your company first.',
                            type: 'warning',
                            duration: config.duration
                        });
                        setTimeout(() => {
                            this.$router.push('/page/settings');
                        }, 1000);
                    } else if (userMsgs.brand_company_state === 2) {
                        this.$notify({
                            title: 'warning',
                            message: 'The information you submitted is under reviewing, the result will be sent to you in 24 hours.',
                            type: 'warning',
                            duration: config.duration
                        });
                        setTimeout(() => {
                            this.$router.push('/page/campaings');
                        }, 1000);
                    } else if (userMsgs.brand_company_state === 4) {
                        this.$notify({
                            title: 'warning',
                            message: 'Your request has been rejected, please modify and submit again.',
                            type: 'warning',
                            duration: config.duration
                        });
                        setTimeout(() => {
                            this.$router.push('/page/settings');
                        }, 1000);
                    } else {

                    }
                }
            }).catch((res) => {
                this.$notify.error({
                    title: 'error',
                    message: res.toString(),
                    duration: config.duration
                });
            });
        },
        methods: {
            onChangeSelecte(value) {
                if (value === 'Other') {
                    this.isShowOther = true;
                }
            },
            onCompute() {
            },
            // 上传成功
            handleAvatarScucess(res, file) {
                let url = baseul + '/uploads/' + res.msg;
                this.imageBase = url;
                this.form.image = res.msg;
            },
            // 上传之前判断
            beforeAvatarUpload(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            },
            //提交信息
            onSubmit(baseInfo) {
                this.$refs[baseInfo].validate((valid) => {
                    if (valid) {
                        // if (this.form.deposit < 1000) {
                        //     this.$notify({
                        //         message: 'Minimum amount is 1000$!',
                        //         type: 'warning',
                        //         duration: config.duration
                        //     });
                        //     return;
                        // };
                        // if (this.form.deposit > 1000000) {
                        //     this.$notify({
                        //         message: 'The maximum charge amount is 1 million!',
                        //         type: 'warning'
                        //     });
                        //     return;
                        // }
                        let obj = {
                            name: this.form.name,
                            type: this.form.type,
                            userid:  this.brandUserId,
                            subtype: this.form.productType,
                            othertype: this.form.productTypeOther,
                            ioslink: this.form.iosProductUrl,
                            androidlink: this.form.androidProductUrl,
                            pclink: this.form.pcProductUrl,
                            note: this.form.note,
                            logo: this.form.image,
                            age: this.form.age.join(','),
                            sex: this.form.gender,
                            region: this.form.location.join(','),
                            amount: this.form.deposit.toFixed(2) * 1000
                        };
                        if(obj.subtype === 'Other' && !obj.othertype){
                            this.$notify({
                                message: 'Business type is required!',
                                type: 'warning'
                            });
                            return;
                        }
                        if (this.form.iosProductUrl || this.form.androidProductUrl || this.form.pcProductUrl) {
                            createCompaigns(obj).then((data) => {
                                if (data.data.code === 0) {
                                    this.$notify({
                                        title: 'success',
                                        message: 'Congratulations! Your campaign has been successfully created, we will get you informed in 24 hours about the new status of the campaign.',
                                        type: 'success',
                                        duration: config.duration
                                    });
                                    this.$refs[baseInfo].resetFields();
                                    this.form.iosProductUrl = '';
                                    this.form.androidProductUrl = '';
                                    this.form.pcProductUrl = '';
                                    this.form.bPrice = '';
                                    this.form.totale = '';
                                    this.form.rmbPrice = '';
                                    this.form.image = '';
                                    this.fileList = [];
                                    this.form.tracking = '';
                                    this.form.measurementUrl = '';
                                    this.form.note = '';
                                    this.$router.push('/page/campaings');
                                } else if (data.data.code === 2) {
                                    this.$notify({
                                        message: 'Campaign name existed!',
                                        type: 'error',
                                        duration: config.duration
                                    });
                                } else {
                                    this.$notify.error({
                                        title: 'error',
                                        message: res.toString(),
                                        duration: config.duration
                                    });
                                }
                            }).catch((res) => {
                                this.$notify({
                                    message: res.toString(),
                                    type: 'error',
                                    duration: config.duration
                                });
                            })
                        } else {
                            this.$notify({
                                message: 'A valid URL is required!',
                                type: 'error',
                                duration: config.duration
                            });
                            return;
                        }
                    } else {
                        return false;
                    }
                });
            },
            // 重置输入
            resetForm(formName) {
                this.$refs[formName].resetFields();
                this.form.iosProductUrl = '';
                this.form.androidProductUrl = '';
                this.form.pcProductUrl = '';
                this.form.bPrice = '';
                this.form.totale = '';
                this.form.rmbPrice = '';
                this.form.image = '';
                this.fileList = [];
                this.form.tracking = '';
                this.form.measurementUrl = '';
                this.form.note = '';
            }
        }

    }
</script>

<style scoped>
    .createCampings {
        padding: 20px 4px;
    }

    .createCampings-form {
        /*border: 1px solid #ccc;*/
        border-radius: 4px;
        width: 100%;
        padding-right: 30%;
    }

    .createCampings-card {
        background-color: #fff;
        padding: 20px 30% 20px 40px;
    }

    .createCampings-type {
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .el-select-item {
        display: block;
    }

    .create-form {
        width: 100%;
    }

    .bPrice {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 7px;
        color: #aaa;
        font-size: 20px;
    }

    .price-box {
        width: 420px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 10px;
        position: relative;
    }

    .bPrice-desc {
        display: none;
        position: absolute;
        top: -55px;
        left: 50px;
        width: 400px;
        overflow: hidden;
        line-height: 18px;
        font-size: 12px;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        color: #666;
        background-color: #FFF;
        box-shadow: 0px 0px 10px #ccc;
    }

    .bPrice:hover .bPrice-desc {
        display: block;
    }

    .money-msg {
        padding-left: 130px;
        margin-bottom: 20px;
    }

    .money-msg>p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #666;
        line-height: 25px;
        white-space: nowrap;
    }

    .money-msg a {
        color: #20A0FF;
    }

    .avatar-uploader {
        border: 1px dashed #d9d9d9;
        /*border-radius: 6px;*/
        width: 120px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: #f5f7fa;
        color: #c1272d;
    }

    .avatar-uploader:hover {
        border-color: #c1272d;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }

    .avatar {
        width: 120px;
        height: 120px;
        display: block;
    }
</style>
