<template>
  <div class="faq">
    <div class="text item">
      <el-collapse class="faq-box" v-model="activeName">
        <el-collapse-item title="How does Star.Store work for brands?" name="4">
          <div style="paddingLeft: 20px">Our influencers are covered all over the world. They share amazing contents on platforms like: Instagram, Musical.ly, Twitter, Facebook, YouTube, Live.ly, etc. Most of them have more than 10,000 fans. We can always help you find the most suitable influencers to promote your campaigns with less money and better performance.</div>
        </el-collapse-item>
        <el-collapse-item title="How do you get started?" name="5">
          <div style="paddingLeft: 20px">Firstly, click “CREATE CAMPAIGN” and fill in the information as required. If you are sure of the information, click "SUBMIT".</div>
          <div style="paddingLeft: 20px">Then, we will review the campaign and process professional optimization. Once the campaign is approved, our customer service team will contact you about the deposit issues. After successfully making the deposit, the influencers we carefully selected will be invited to promote the campaign. You can check the status of your campaign anytime under "MY CAMPAIGNS".</div>
          <!--<div style="paddingLeft: 20px">At the same time, a long tail guarantee ( 60% of the budget amount) is required, it means the total cost which produced in the three days after action terminated. We will charged 60% of the budget amount. The system will calculate automatically after the steady flow period. If the cost is more than 60% of the budget, a compensation should be made by you, meanwhile, if it is less than the guarantee, the difference will be sent back to your wallet, that can be used to run another campaign or you can choose withdrawal.</div>-->
        </el-collapse-item>
        <el-collapse-item title="What sorts of influencers do you work with?" name="6">
          <div style="paddingLeft: 20px">Our influencers are game players, fashion bloggers, music composers, and video makers, etc. They are the most talented and influential creators who share the most amazing and unique contents on a variety of social media platforms.</div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'Faq',
        data() {
            return {
                bannerStyle: {
                    height: window.innerHeight - 60 + 'px',
                },
                activeName: '4'
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('title', 'faq');
        },
        methods: {
            handleSelect() {

            },
            onRegisterClick(type) {

            },
            onSubmit(type) {
                if (type === 'login') {
                    this.$router.push('/user');
                } else if (type === 'new') {

                }
            }
        }

    }
</script>

<style scoped>
    .faq {
        padding: 60px 40px;
    }
    
    h2 {
        color: #333;
    }
    
    .faq-box {
        width: 60%;
        border: 0;
    }
</style>