<template>
  <div class="settings">
    <div class="settings-content">
        <el-tabs v-model="activeName">
            <el-tab-pane label="Company" name="first">
                <el-form v-if="isChecked" ref="form" :model="form" :rules="rules" label-width="150px" label-position="right" style="width: 60%;margin-top:20px;">
                    <el-form-item label="User Name:" prop="name">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Company Name:" prop="cname">
                        <el-input v-model="form.cname"></el-input>
                    </el-form-item>

                    <el-form-item label="Home Page:" prop="websit">
                        <el-input v-model="form.websit"></el-input>
                    </el-form-item>
                    <el-form-item label="Buiness Type:" prop="type">
                        <el-select v-model="form.type" placeholder="Please select" style="width: 30%"  @change="onChangeSelecte">
                            <el-option label="Shopping" value="Shopping" class="el-select-item"></el-option>
                            <el-option label="Beauty" value="Beauty" class="el-select-item"></el-option>
                            <el-option label="Game" value="Game" class="el-select-item"></el-option>
                            <el-option label="Lifestyle" value="Lifestyle" class="el-select-item"></el-option>
                            <el-option label="Tools" value="Tools" class="el-select-item"></el-option>
                            <el-option label="Social" value="Social" class="el-select-item"></el-option>
                            <el-option label="Education" value="Education" class="el-select-item"></el-option>
                            <!--<el-option label="Other" value="Other" class="el-select-item"></el-option>-->
                        </el-select>
                        <!--<el-input v-if="isShowOther" v-model="form.productTypeOther" placeholder="Category" style="width:30%"></el-input>-->
                    </el-form-item>

                    <el-form-item label="Contact:" prop="contact">
                        <el-input v-model="form.contact"></el-input>
                    </el-form-item>

                    <el-form-item label="E-mail:" prop="address">
                        <el-input v-model="form.address"></el-input>
                    </el-form-item>
                    <el-form-item label="Company Logo:" prop="logo">
                        <el-upload
                            class="avatar-uploader"
                            name="logo"
                            :action="baseul +'/upload'"
                            :show-file-list="false"
                            :on-success="handleAvatarScucess"
                            :before-upload="beforeAvatarUpload">
                            <img v-if="imageUrl" :src="imageUrl" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="Buiness Licence:" prop="logos">
                        <el-upload
                            class="avatar-uploader"
                            name="licence"
                            :action="baseul +'/upload_licence'"
                            :show-file-list="false"
                            :on-success="handleAvatarScucess1"
                            :before-upload="beforeAvatarUpload1">
                            <img v-if="imageBase" :src="imageBase" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>

                    </el-form-item>
                    <el-form-item class="newUser-submit">
                        <el-button type="primary" size="large" style="width: 50%;" @click="onSubmit('form')">SAVE</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>

            <el-tab-pane label="Change Password" name="second">
                <el-form ref="password" :model="password" :rules="passwordRules" label-width="150px" label-position="right" style="width: 60%;margin-top:20px;">
                    <el-form-item label="Old Password:" prop="old">
                        <el-input type="password" v-model="password.old"></el-input>
                    </el-form-item>
                    <el-form-item label="New Password:" prop="newPassWord">
                        <el-input type="password" v-model="password.newPassWord"></el-input>
                    </el-form-item>
                    <el-form-item label="Confirm Password:" prop="newPassWord2">
                        <el-input type="password" v-model="password.newPassWord2"></el-input>
                    </el-form-item>
                    <el-form-item class="newUser-submit">
                        <el-button type="primary" size="large" style="width: 50%;" @click="onSubmitPass('password')">SUBMIT</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
        </el-tabs>
    </div>
  </div>
</template>

<script>
    import {
        settingUserMsg,
        settingUserPassword,
        baseul,
        updataBrandStatus,
        getBrandUserMsg
    } from '../../apiRequest';
    import sha1 from 'sha1';
    import store from 'store2';
    import config from '../../config.js';
    export default {
        name: 'Settings',
        data() {
            let validatePass = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('Type in new password'));
                } else {
                    if (this.password.newPassWord2 !== '') {
                        this.$refs.password.validateField('newPassWord2');
                    }
                    callback();
                }
            };
            let validatePass2 = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('Type in new password again'));
                } else if (value !== this.password.newPassWord) {
                    callback(new Error('Different passwords!'));
                } else {
                    callback();
                }
            };
            return {
                brand_user_id: '',
                isChecked: false,
                imgBaseUrl: config.showImag,
                baseul: baseul,
                isdActive: true,
                iseActive: false,
                isdShow: 'block',
                iseShow: 'none',
                activeName: 'first',
                imageUrl: '',
                imageBase: '',
                isShowOther: false,
                fileList2: [],
                form: {
                    name: '',
                    cname: '',
                    websit: '',
                    address: '',
                    logo: '',
                    licence: '',
                    type: '',
                    contact: ''
                },
                password: {
                    old: '',
                    newPassWord: '',
                    newPassWord2: ''
                },
                bannerStyle: {
                    height: window.innerHeight - 60 + 'px',
                },
                rules: {
                    name: [{
                        required: true, message: 'Type in user name', trigger: 'blur'
                    }],
                    cname: [{
                        required: true, message: 'Type in company name', trigger: 'blur'
                    }],
                    address: [{
                        required: true, message: 'Type in e-mail address', trigger: 'blur'
                    }, {
                        type: 'email',
                        message: 'Type in correct e-mail address',
                        trigger: 'blur,change'
                    }],
                    logo: [{
                        required: true, message: 'Upload logo', trigger: 'blur'
                    }],
                    logos: [{
                        required: true, message: 'Upload logo', trigger: 'blur'
                    }],
                    contact: [{
                        required: true, message: 'Type in contact name', trigger: 'blur'
                    }],
                    type: [{
                        required: true, message: 'Select company type', trigger: 'change'
                    }],
                    websit: [{
                        required: true, message: 'Type in home page', trigger: 'blur'
                    }]
                },//第一个页面的验证规则
                passwordRules: {
                    old: [{
                        required: true, message: 'Type in old password', trigger: 'blur'
                    }],
                    newPassWord: [{
                        required: true, validator: validatePass, trigger: 'blur'
                    }, {
                        min: 6, max: 20, message: 'The password should be 6-20 figures', trigger: 'blur'
                    }],
                    newPassWord2: [{
                        required: true, validator: validatePass2, trigger: 'blur'
                    }, {
                        min: 6, max: 20, message: 'The password should be 6-20 figures', trigger: 'blur'
                    }]
                }
            }
        },
        created() {
            window.scrollTo(0,0);
            this.$parent.$emit('title', 'settings');
            let userMsg = store('userMsg');
            getBrandUserMsg({
                phone: userMsg.brand_company_phone
            }).then((data) => {
                let url = baseul + '/uploads/';
                if (data.data.code === 0) {
                    let userMsgs = data.data.msg[0];
                    if (data.data.msg.length > 0) {
                        store('userMsg', userMsgs);
                        if(userMsgs.brand_company_logo){
                            this.form.logo = userMsgs.brand_company_logo;
                            this.imageUrl = url + userMsgs.brand_company_logo;
                        }
                        if(userMsgs.brand_company_licence){
                            this.form.logos = userMsgs.brand_company_licence;
                            this.imageBase = url + userMsgs.brand_company_licence;
                        }
                        this.form.name = userMsgs.brand_user_name || userMsgs.brand_company_phone;
                        this.form.cname = userMsgs.brand_company_name;
                        this.form.websit = userMsgs.brand_company_homepage;
                        this.form.address = userMsgs.brand_company_email;
                        this.form.licence = userMsgs.brand_company_licence;
                        if(userMsgs.brand_company_type){
                            this.form.type = userMsgs.brand_company_type;
                        }
                        this.form.contact = userMsgs.brand_company_contact;
                        if (userMsgs.brand_company_state === 2 || userMsgs.brand_company_state === 3) {
                            this.isChecked = false;
                        } else if (userMsgs.brand_company_state === 4 || userMsgs.brand_company_state === 1) {
                            this.isChecked = true;
                        }
                        this.brand_user_id = userMsgs.brand_user_id;
                    };
                }
            }).catch((res) => {
                this.$notify.error({
                    title: 'error',
                    message: res.toString(),
                    duration: config.duration
                });
            });
        },
        methods: {
            onChangeSelecte(value) {
                if (value === 'Other') {
                    this.isShowOther = true;
                }
            },
            isActiveShow(t) {
                if (t === 'd') {
                    this.isdActive = true;
                    this.iseActive = false;
                    this.isdShow = 'block';
                    this.iseShow = 'none';
                } else if (t === 'e') {
                    this.isdActive = false;
                    this.iseActive = true;
                    this.isdShow = 'none';
                    this.iseShow = 'block';
                }
            },
            handleAvatarScucess(res, file) {
                let url = baseul + '/uploads/' + res.msg;
                this.imageUrl = url;
                this.form.logo = res.msg;
            },
            beforeAvatarUpload(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            },
            handleAvatarScucess1(res, file) {
                this.form.licence = res.msg;
                let url = baseul + '/uploads/' + res.msg;
                this.imageBase = url;
                this.fileList2 = [{
                    name: res.msg,
                    url: url
                }]
                this.form.logos = res.msg;
            },
            beforeAvatarUpload1(file) {
                let type = file.type.toLowerCase();
                const isJPEG = type === 'image/jpeg';
                const isJPG = type === 'image/jpg';
                const isGIF = type === 'image/gif';
                const isBMP = type === 'image/bmp';
                const isPNG = type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 10;
                if (!isJPEG && !isJPG && !isGIF && !isBMP && !isPNG) {
                    this.$message.error('Only jpg/png/gif/bmp!');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('maximum 10M!');
                    return false;
                }
                return (isJPEG || isJPG || isGIF || isBMP || isPNG) && isLt2M;
            },
            onSubmit(formName) {
                let obj = {
                    username: this.form.name,
                    companyname: this.form.cname,
                    phone: store('userName'),
                    homepage: this.form.websit,
                    email: this.form.address,
                    logo: this.form.logo,
                    contact: this.form.contact,
                    licence: this.form.licence,
                    type: this.form.type
                };
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        settingUserMsg(obj).then((data) => {
                            if (data.data.code === 0) {
                                this.$notify({
                                    title: 'success',
                                    message: 'The information you submitted is under reviewing, the result will be sent to you in 24 hours.',
                                    type: 'success',
                                    duration: config.duration
                                });
                                updataBrandStatus({
                                    brand_user_id: this.brand_user_id,
                                    brand_company_state: 2
                                }).then((data) => {
                                    if (data.data.code === 0) {
                                        let obj = store('userMsg');
                                        obj.brand_company_state = 2;
                                        obj.brand_company_contact = this.form.contact;
                                        obj.brand_company_email = this.form.address;
                                        obj.brand_company_homepage = this.form.websit;
                                        obj.brand_company_logo = this.form.logo;
                                        obj.brand_company_name = this.form.cname;
                                        obj.brand_user_name = this.form.name;
                                        obj.brand_company_licence = this.form.licence;
                                        obj.brand_company_type = this.form.type;
                                        store('userMsg', obj);
                                        this.$parent.$emit('userName', this.form.name);
                                        this.$router.push('/page/campaings');
                                    }
                                }).catch((res) => {
                                    this.$notify.error({
                                        message: res.toString(),
                                        duration: config.duration
                                    });
                                })
                            } else {
                                this.$notify.error({
                                    message: 'Company name existed!',
                                    duration: config.duration
                                });
                                return;
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                message: res.toString(),
                                duration: config.duration
                            });
                        })
                    } else {
                        return false;
                    }
                });
            },
            onSubmitPass(formName) {
                let obj = {
                    phone: store('userName'),
                    oldpwd: sha1(this.password.old),
                    newpwd: sha1(this.password.newPassWord2)
                };
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        settingUserPassword(obj).then((data) => {
                            if (data.data.code === 0) {
                                this.$notify.success({
                                    message: 'success!',
                                    duration: config.duration
                                });
                                sessionStorage.setItem("dataToken", '');
                                this.$router.push('/login');
                            } else {
                                this.$notify.error({
                                    message: 'wrong old password',
                                    duration: config.duration
                                });
                            }
                        }).catch((res) => {
                            this.$notify.error({
                                message: res.toString(),
                                duration: config.duration
                            });
                        })
                    } else {
                        return false;
                    }
                });
            }
        }

    }
</script>

<style scoped>
    .settings {
        padding: 60px 40px;
    }

    .settings-content {
        border-radius: 5px;
        /*border: 1px solid #ccc;*/
        /*width: 60%;*/
    }

    .campaings-menu {
        height: 60px;
        font-size: 16px;
        color: #999;
        margin-bottom: 1px;
        border-bottom: 1px solid #ccc;
    }

    .campaings-menu>span {
        padding: 0 40px;
        display: inline-block;
        line-height: 60px;
        cursor: pointer;
    }

    .campaings-menu>span.active {
        color: #333;
        font-weight: bold;
        border-bottom: 2px solid #333;
    }

    .el-select-item {
        display: block;
    }

    .settings-content-page {
        border-radius: 4px;
        background-color: #fff;
        padding: 42px 40px 20px;
    }

    .avatar-uploader {
        border: 1px dashed #d9d9d9;
        /*border-radius: 6px;*/
        width: 120px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: #f5f7fa;
        color: #20a0ff;
    }

    .avatar-uploader:hover {
        border-color: #20a0ff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }

    .avatar {
        width: 120px;
        height: 120px;
        display: block;
    }

    .newUser-submit {
        margin-top: 40px;
    }

    .setting-img {
        width: 100px;
    }
</style>
