<template>
  <div class="wallet">
    <div class="campaings-menu">
      <span :class="{details: true, active: isdActive}" @click="isActiveShow('d')">Deposit</span>
      <span :class="{details: true, active: iseActive}" @click="isActiveShow('e')">History</span>
    </div>
    <div :style="{display: isdShow}" class="wallet-card">
      <el-form label-width="130px" :model="formInline" style="width: 50%;paddingLeft:20px;" label-position="left">
        <el-form-item label="Deposit:">
          <el-input v-model="formInline.deposit" placeholder="$" @blur="getComputerResulte" style="width: 120px;"></el-input>
          = RMB
          <div class="price-box" style="display:inline-block;width: 120px;">
            {{formInline.rmbPrice}}￥
          </div>
          <!--<el-input v-model="formInline.deposit" placeholder="￥" @blur="getComputerResulte" style="width: 120px;"></el-input>-->
        </el-form-item>
        <!--<el-form-item label="Warranty:">
          <div class="price-box">
            {{formInline.bPrice}}$
            <i class="fa fa-question-circle bPrice" aria-hidden="true" @click="onshowWarrantyMsg('qs')">
              <div class="bPrice-desc"  v-if="isShow">
                Long term warranty means the total expense which produced in the three days after action terminated. which will be charged by the 60% of the budget amont. The system will caculate automatically after the steady flow period. If it is less than 60% of the budget, a compensate should be made, and if it is more, you will get the refund of the balance.
              </div>
            </i>
          </div>
        </el-form-item>-->
        <!--<el-form-item label="Total:">
          <div class="price-box">{{formInline.totale}}$</div>
        </el-form-item>-->
        <el-form-item label="">
          <div class="money-msg">
            <!--<p>Presently, Star st ore charges by the way of CPC.</p>-->
            <!--<p>Please make your deposite by transfering the total amout to  6226 7865 9087 5432 Bank of China.</p>-->
            <p>Online charge is not available by now, please contact with our customer service team to make off-line charge.</p>
            <p>Service e-mail address:<a href="mailto:customerservice@star.store"> customerservice@star.store</a></p>
            <p>Contact Number: 029-87654321</p>
          </div>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" size="large" style="width:50%;backgroundColor:#424f64;border:0;" @click="onSubmit('form')">SUBMIT</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div :style="{display: iseShow}" class="wallet-card">
      <el-table
        :data="tableData"
        empty-text="No data!"
        style="width: 100%">
        <el-table-column
          prop="date"
          label="Date">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Campaign">
        </el-table-column>
        <el-table-column
          prop="type"
          label="Type">
        </el-table-column>
        <el-table-column
          prop="method"
          label="Payment Way">
        </el-table-column>
        <el-table-column
          prop="balance"
          label="Amount(￥)">
        </el-table-column>
        <el-table-column
          prop="amount"
          label="Balance(￥)">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import qs from 'qs';
export default {
  name: 'Wallet',
  data () {
    return {
      isdActive: true,
      iseActive: false,
      isShow: false,
      isdShow: 'block',
      iseShow: 'none',
      formInline: {
        deposit: '',
        bPrice: '',
        rmbPrice: '',
        totale: '',
      },
      isPaypal: 'block',
      activeName2: 'first',
      bannerStyle: {
        height: window.innerHeight-60 + 'px',
      },
      tableData: [
      ]
    }
  },
  watch: {
    formInline: {
      handler(curVal,oldVal){
　　　　 let m = curVal.deposit;
        curVal.rmbPrice = parseInt(m * 6.8865*100)/100;
　　　},
　　　deep:true
    }
  },
  created () {

  },
  methods: {
    onshowWarrantyMsg(b){
      let e = window.event || event;
      if ( e.stopPropagation ){
        e.stopPropagation();
      }else{
        window.event.cancelBubble = true;
      };
      if(b === 'body'){
        this.isShow = false;
      }else{
        this.isShow = !this.isShow;
      }
    },
    isActiveShow(t){
      if(t === 'd'){
        this.isdActive = true;
        this.iseActive = false;
        this.isdShow = 'block';
        this.iseShow = 'none';
      }else if(t === 'e'){
        this.isdActive = false;
        this.iseActive = true;
        this.isdShow = 'none';
        this.iseShow = 'block';
      }
    },
    getComputerResulte(){
      // let m = this.formInline.deposit;
      // this.formInline.bPrice = m*6.88865;
      // this.formInline.totale = m*1 + this.formInline.bPrice;
    },
    handleClick(tab, event) {

    },
    onSubmit(type){
			if( this.formInline.deposit <= 1000 ){
        this.$notify({
          message: 'Minimum amount is 1000$!',
          type: 'warning'
        });
        return;
      }
    }
  }

}
</script>

<style scoped>
  .wallet{
    padding: 40px 60px;
  }
  .wallet-card{
    padding: 40px 40px;
    background-color: #fff;
    border-radius: 4px;
  }
  .campaings-menu{
    height: 60px;
    padding: 0 40px;
    font-size: 16px;
    color: #999;
    background-color: #fff;
    margin-bottom: 1px;
    border-radius: 4px;
  }
  .campaings-menu>span{
    padding: 0 40px;
    display: inline-block;
    line-height: 60px;
    cursor: pointer;
  }
  .campaings-menu>span.active{
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #333;
  }
  .money-msg>p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 25px;
    white-space:nowrap;
  }
  .price-box{
    width: 420px;
    border: 1px solid #ccc;
    /*background-color: #ccc;*/
    padding: 1px;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
    position: relative;
  }
  .bPrice{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
    color: #aaa;
    font-size: 20px;
  }
  .bPrice-desc{
    /*display: none;*/
    position: absolute;
    top: -35px;
    left: 50px;
    width: 300px;
    overflow: hidden;
    line-height: 18px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    color: #666;
    background-color: #FFF;
    box-shadow: 0px 0px 10px #ccc;
  }
  /*.bPrice:hover .bPrice-desc{
    display: block;
  }*/
</style>
